<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div class="col-sm-6 " th:fragment="TaskTable">
	<div class="card">
		<div class="card-body">
			<h5 class="card-title">Special title treatment</h5>
			<p class="card-text">With supporting text below as a natural
				lead-in to additional content.</p>
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">Sr.No</th>
						<th scope="col">Set as Top Priority</th>
						<th scope="col">My Tasks</th>
						<th scope="col">Mark as Completed</th>
					</tr>
				</thead>

				<tbody th:each="t,itr:${m.tasksm}" th:if="${t != null}">
					<tr>
						<th th:text="${itr.index}"></th>
						<td th:text="${t.Tid}"></td>
						<td th:text="${t.task}"></td>
						<td>
							<form th:action="@{/deletetask}" method="post" th:object="${t}">
								<input type="hidden" th:name="Tid" th:value="${t.Tid}" /> <input
									type="hidden" th:name="m" th:value="${m.mail}" /> 
									
									<button type="submit" class="btn btn-outline-primary "><i
									class="fa fa-arrow-circle-o-left"></i>&nbsp; Task Completed</button> 
								</a>
							</form>
						</td>
					</tr>
				<tbody>
			</table>
			<a th:href="@{/Task(m=${m.mail})}" class="btn btn-secondary"><i
				class="bi bi-download"> </i>Add Task </a>
		</div>
	</div>
</div>
</html>