<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Password Confirmation Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Password Confirmation Form</div>
                <div class="card-body">
               <p th:text="${email}"></p>
                    <form th:method="post" id="passwordForm" th:action="@{/submitpass(email=${email})}" method="post">
                        <div class="form-group">
                            <label for="password">Set Password:</label>
                            <input  type="password" class="form-control" id="password"  name="password"
                             pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$" 
                            title="Password must contain at least one letter, one digit,At least one special character from the provided set (@$!%*#?&) and be at least 8 characters long" required>
                        </div>
                        <p style="color:rgb(106, 90, 205)">Password must contain at least one letter, one digit,At least one special character from the provided set (@$!%*#?&) and be at least 8 characters long</p>
                        <div class="form-group">
                            <label for="confirmPassword">Re-enter Password:</label>
                            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // JavaScript to validate password confirmation
    document.getElementById("passwordForm").addEventListener("submit", function(event) {
        var password = document.getElementById("password").value;
        var confirmPassword = document.getElementById("confirmPassword").value;

        if (password !== confirmPassword) {
            alert("Passwords does not match. Please re-enter.");
            event.preventDefault(); // Prevent form submission
        }
    });
</script>

</body>
</html>
